[core]
	editor = nvim
	excludesfile = /Users/alexchan/.gitignore
[user]
	name = Alex Chan
	email = alex.chan@shopify.com
[init]
	defaultBranch = main
[include]
	path = /Users/alexchan/.config/dev/gitconfig
[push]
	default = simple
